body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  background-color: #4CAF50; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
  
}

.alert {
  height: 30px;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  font-size: 25px;


  background-color: rgb(226, 243, 249);
  border-radius: 10px;


}

.orderBtn {
  background-color: red; 
  color: white;
  padding: 5px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  border-radius: 10px;
  
}

.container {
  margin-left: 10px;
  margin-right: 10px;
}

.form-group {
  margin-left: 10px;
}

.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
  font-size: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1e71c4;
  color: white;
  width: 33%;

}

input, select {
  margin-top: 20px ;
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

h2 {
  font-size: 30px;
}

div {
margin-left: 20px;
margin-right: 20px;
margin-bottom: 15px;}

.label {
  font-size: 20px;
}

#btn {
  background-color: white;
  padding: 8px;
}

